<!-- templates/events/event_detail.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-start">
                {% if event.image %}
                <img src="{{ event.image.url }}" class="float-start me-3 img-fluid" alt="{{ event.title|escape }}"
                     style="max-width: 300px; object-fit: cover;">
                {% else %}
                {% if event.genre and event.genre.id %}
                <img src="{% static 'img/genre/' %}{{ event.genre.id }}.jpg" class="float-start me-3 img-fluid"
                     alt="{{ event.title|escape }}" style="max-width: 300px; object-fit: cover;">
                {% else %}
                <img src="{% static 'img/genre/11.jpg' %}" class="float-start me-3 img-fluid"
                     alt="{{ event.title|escape }}" style="max-width: 300px; object-fit: cover;">
                {% endif %}
                {% endif %}
                <div>
                    <h1 class="h2 mb-3">{{ event.title }}</h1>
                    <p class="lead">{{ event.description|safe }}</p>
                    <ul class="list-unstyled">
                        <li><strong>Дата:</strong> {{ event.event_date|date:"d.m.Y" }}</li>
                        <li><strong>Город:</strong> {{ event.location.city.name }}</li>
                        <li><strong>Место:</strong> {{ event.location.name }}</li>
                        <li><strong>Жанр:</strong> {{ event.genre }}</li>
                        <li><strong>Цена:</strong> {{ event.ticket_price }} ₽</li>
                        <li><strong>Билетов осталось:</strong> {{ event.available_tickets }}</li>
                    </ul>

                </div>
            </div>
            {% if event.rules %}
            <p><strong>Правила:</strong> {{ event.rules|safe }}</p>
            {% endif %}
            {% if event.event_url %}
            <p><a href="{{ event.event_url }}" target="_blank">Страница мероприятия</a></p>
            {% endif %}

            <form action="{% url 'bookings:book_event' event.id %}" method="post">
                {% csrf_token %}
                <label>Имя: <input type="text" name="user_name" required></label><br>
                <label>Email: <input type="email" name="user_email" required></label><br>
                <label>Telegram: <input type="text" name="user_telegram"></label><br>
                <button type="submit">Забронировать</button>
            </form>


            <a href="{% url 'events:event_list' %}" class="btn btn-outline-primary mt-3">Назад к списку</a>
        </div>
    </div>
</div>
{% endblock %}
